<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="5b981dbc-7961-42e2-bb13-4932c24d56e2" Publisher="CN=rayle" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5b981dbc-7961-42e2-bb13-4932c24d56e2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>บทสวดมนต์</DisplayName>
    <PublisherDisplayName>ToonWK</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="bcnotes.App">
      <uap:VisualElements DisplayName="บทสวดมนต์" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="เพิ่มบทสวดมนต์ ให้แอปช่วยจำ" BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="rememberit.notes" Id="base" PublicFolder="Notes" DisplayName="บทสวดมนต์" Description="เพิ่มบทสวดมนต์ ให้แอปช่วยจำ">
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>